<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <!-- 評価 -->
  <div class="form-group row" id="star">
    <%= form.label :rate,'評価 ', class:'col-md-3 col-form-label' %>
    <%= form.hidden_field :rate, id: :review_star %>
  </div>

  <%= render 'set_star_js', blog: blog %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
