<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<h4 class="mb-3">評価：<%= @blog.rate %>点 | <%= @blog.title %></h4>
 <!--星評価-->
<div id="star-rate-<%= @blog.id %>"></div>
  <%= render 'display_star_js', blog: @blog %>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
